* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png"),
    linear-gradient(to right, #16222a, #3a6073);
}

.container {
  margin: 4rem auto;
  width: 40rem;
  padding: 0 3rem;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png"),
    linear-gradient(to bottom, #283048, #859398);
  border: solid 2px rgb(247, 244, 244);
  border-radius: 1.5rem;
}
.row {
  margin: 2rem 7rem;
  border-radius: 20px;
}

.todo-name-input {
  background: rgba(165, 164, 164, 0.8);
  color: #000;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem 0 0 1.5rem;
  width: 70%;
  outline: none;
}
.checked {
  text-decoration: line-through;
}

.todo-add {
  background: rgb(55, 134, 238);
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem;
  margin-left: -0.25rem;
  border-radius: 0 1.5rem 1.5rem 0;
  cursor: pointer;
}

.fa-trash {
  color: rgb(214, 14, 14);
  font-size: 1.3rem;
}
.todo_list_items {
  cursor: pointer;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  margin: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.fa-edit {
  padding: 0.6rem 1rem;
  color: #027c35;

  font-size: 0.9rem;
  border-radius: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
}
#input_value {
  padding: 0.5rem 0.6rem;
  border: none;
  outline: none;
  background-color: rgb(231, 216, 196);
  width: 70%;
  border-radius: 2rem;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.todo-filters {
  margin: 1rem 9rem;
}
.todo-filters .filter {
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-weight: 550;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
.filter:hover {
  color: #fff;
  border-radius: 1rem;
}
@media screen and (max-width: 648px) {
  .container {
    margin: 4rem auto;
    width: 36rem;
  }
  .row {
    width: 295px;
  }
  .todo_list_items {
    width: 370px;
  }
  .todo-filters {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 592px) {
  .container {
    margin: 4rem auto;
    width: 32rem;
  }
  .row {
    width: 295px;
    margin-left: 4rem;
  }
  .todo_list_items {
    width: 370px;
    margin-left: 1.5rem;
  }
  .todo-filters {
    align-items: center;
    display: flex;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 536px) {
  .container {
    margin: 4rem auto;
    width: 30rem;
  }
  .row {
    width: 295px;
    margin-left: 4rem;
  }
  .todo_list_items {
    width: 370px;
    margin-left: 1.5rem;
  }
  .todo-filters {
    align-items: center;
    display: flex;
    margin-left: -1rem;
  }
}
